#menu{width: 1300px; height: 2100px; margin: 0 auto; background-color: #e3e4e5;}

#menu .product_title{font-size: 50px; font-family: 'Montserrat', sans-serif; color: #444; 
            display: inline-block; margin: 100px 0px 250px 20px; width: 100px;}

#menu .product_box{float: right; width: 1100px; height: 294px; margin: 100px 0px 10px 0px;}

#menu .product{width: 210px; height: 300px; float: right; margin: 0px 60px 0px 0px;}
.menu_img{width: 210px; height: 160px; margin: 0px 0px 30px 0px;}
.menu_img img{width: 210px;}

.menu_text{width: 210px; height: 60px; margin: 5px 0px 10px 0px; text-align: center;
           font-weight: bold; color: #333; line-height: 25px;
           padding-top: 10px; border-top: 3px solid #dbdcdd;}
.menu_text2{width: 210px; height: 30px; margin: 10px 0px 0px 0px; text-align: center;
            color: #333; font-size: 16px;}
.menu_text span{font-size: 14px;}



#menu .product:hover{box-shadow: 0px 0px 4px rgb(165, 164, 164); transform: scale(1.1);
                     transition: 0.3s ease;}
#menu .product:hover .menu_img img{opacity: 0.5;}
